<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>慢慢买-分类页</title>
    <link rel="stylesheet" href="./lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/productlist.css">
</head>
<body>
<div class="container">
    <!--头部-->
    <div class="header">
        <a href="index.html"><img src="./images/header_logo.png" alt=""></a>
        <div class="app">
            <span><img src="./images/header_app.png" alt=""></span>
        </div>
    </div>
    <div class="main">
        <!--search-->
        <div class="search mui-clearfix">
            <input type="text" placeholder="请输入你想比价的商品">
            <button>搜索</button>
        </div>
        <div class="screen">
            <span><a href="index.html">首页></a></span>
            <span><a href="category.html">分类></a></span>
            <span class="category"><a href="">电视</a></span>
            <a href="" class="select">筛选</a>
        </div>
        <div class="lw">

        </div>

        <div class="footer">
            <div class="footer-top">
                <a href="#" class="login">登录</a>
                <a href="#" class="register">注册</a>
                <a href="#" class="toTop"><span><img src="./images/top.jpg" alt=""></span>返回顶部</a>
            </div>
            <div class="footer-bottom">
                    <span>
                        <a href="javascript:;" style="color: Red;">手机APP下载</a>
                        <a href="index.html">慢慢买手机版</a> -- 掌上比价平台
                    </span>
                <span>m.manmanbuy.com</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="./lib/mui/js/mui.min.js"></script>
<script src="lib/jquery.min.js"></script>
<script src="./lib/artTemplate/template-web.js"></script>
<script src="./js/common.js"></script>
<script src="./js/productlist.js"></script>

<script type="text/html" id="tpl">
    {{each result v i}}
    <span><a href="index.html">首页></a></span>
    <span><a href="category.html">分类></a></span>
    <span class="category"><a href="">{{v.category}}</a></span>
    <a href="" class="select">筛选</a>
    {{/each}}
</script>
<script type="text/html" id="li-tpl">
    <ul>
        {{if result.length === 0}}
        <p>没有更多的商品信息</p>
        {{/if}}
        {{each result v i}}
        <li class="mui-clearfix">
            {{#v.productImg}}
            <a href="#">
                <p class="mui-ellipsis-2">{{v.productName}}</p>
                <span style="color: #ea3900" class="price">{{v.productPrice}}</span>
                <div class="bottom">
                    <span>{{v.productQuote}}</span>
                    <span>{{v.productCom}}</span>
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
    <div class="page">
        <button class="prev">上一页</button>
        <select name="" id="select">
            <% for(var i = 1;i<= pages;i++){%>
            <% if(page==i){%>
            <option selected value="<%=i%>"><%=i%>/<%=pages%></option>
            <%}%>
            <%if(page!=i){%>
            <option value="<%=i%>"><%=i%>/<%=pages%></option>
            <%}%>

            <% } %>
        </select>
        <button class="next">下一页</button>
    </div>
</script>
